header a{
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

header{
  padding: 20px 0;
  background: #109BE9;
}

.active{
  color: red;
}

.all-products{
  display: grid;
  grid-template-columns: repeat(4 ,1fr);

  >div{
    margin-bottom: 20px;
  }
}

@media(max-width:1210px){
  .all-products{
    grid-template-columns: repeat(3,1fr);
  }
}

@media(max-width:995px){
  .all-products{
    grid-template-columns: repeat(2,1fr);
  }
}

@media(max-width:655px){
  .all-products{
    grid-template-columns: 1fr;
  }
}

.container div:first-child {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  >button{
    background-color: orange;
    border: none;
    border-radius: 10px;
    color: white;
  }
}